#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  //text-align: center;
}

@media (max-width: 1280px) {
  .heading {
    font-size: 24px;
  }
}

.body {
  margin-top: 200px;
}

.connector {
  padding-top: 1.5px;
  margin-bottom: 1px;
}
